//  COLORS

//light-mode

$light-color-text: hsl(200, 15%, 8%);
$light-color-input: hsl(0, 0%, 52%);
$light-color-background: hsl(0, 0%, 98%);
$light-color-elements: hsl(0, 0%, 100%);

//dark-mode

$dark-color-text: hsl(0, 0%, 100%);
$dark-color-elements: hsl(209, 23%, 22%);
$dark-color-background: hsl(207, 26%, 17%);

//font-size

$item-font-size: 1.4rem;
$detail-font-size: 1.6rem;
$default-font-size: 1.6rem;